@charset "UTF 8";
 
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(89, 223, 89);
}

div#logo {
    width: 100vw;
    text-align: center;
    background-color: rgb(0, 0, 0);
 

}

.logo1 {
    align-items: center;
   width: 90vw;
   height: 20vh;
}
nav {
    padding: 25px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: space-between;

}
nav#menu >li{
    list-style-type: none;
    display: inline;
}
#menu > li >a {
     text-decoration: none;
    color: rgb(0, 43, 0);
    padding: 13px;
    background-color: rgb(230, 118, 28);
    border-radius: 5%;
    box-shadow: 2px 2px 3px  black;

}

#menu > li> a:hover{
   padding: 16px;
    transition: 1s;
    background-color: darkgreen;
    color: white;
}

main {
  
}
div#prlx {
    background-attachment: fixed;
display: flex;
   
    background-repeat: no-repeat;
    background-position: left;
    background-image: url(imagens/fundo-titulo.png);
    background-color: rgb(11, 66, 0);
    padding: 80px;
    position: relative;
}
 #info {

    position: absolute;
    left: 3px;
    top: 3px;
    
    padding: 10px;
 }

#info > h2 {
    color: rgb(5, 56, 0);
    text-shadow:0px 0px 2px rgb(255, 255, 255);
}
div.vazia{
    display: flex;
    
    background-repeat: no-repeat;
    background-position: left;
    
    background-color: rgb(221, 255, 214);
    padding: 80px;
    position: relative;
}
div#prlx1 {
    background-attachment: fixed;
    display: flex;
      
        background-repeat: no-repeat;
        background-position: left;
        background-image: url(imagens/mosaico-prato.jpg);
        background-color: rgb(11, 66, 0);
        padding: 80px;
        position: relative;
    }

    div#prlx2 {
        background-attachment: fixed;
        display: flex;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left;
            background-image: url(imagens/prato2.jpg);
            background-color: rgb(11, 66, 0);
            padding: 80px;
            position: relative;
        }
   